{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>
            Welcome, {{ request.user.username }}
        </h1>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Logout
            </button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">
                Login
            </a>
    {% endif %}
        <ul>
            <h1>Recipe List</h1>
            {% for recipes in object_list %}
                {% if request.user.is_authenticated %}
                <li><a href="{{recipes.get_absolute_url}}">{{ recipes }}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">{{ recipes }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if request.user.is_authenticated %}
        <a href="{% url 'ledger:recipe-add' %}">Add Recipe</a>
        {% else %}
        <a href="{% url 'login' %}">Add Recipe</a>
        {% endif %}
{% endblock %}